.btn__add_text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(85, 47, 1);
    border: solid rgb(85, 47, 1) 1px;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}