.list__content {
  display: flex;
  justify-content: space-between;
}
.list__content button {
  width: 150px;
}

.none {
  display: none;
}

li {
  list-style-type: none;
}

.line {
  text-decoration: line-through;
}

.minus__task_img {
  width: 30px;
  cursor: pointer;
}

.list_item {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.list__content button {
  background-color: brown;
  border: 1px solid rgb(85, 47, 1);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.search__wrapper {
  display: flex;
  justify-content: space-between;
}
.search__wrapper .btn__search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 30px;
  text-align: center;
  color: rgb(85, 47, 1);
  border: solid rgb(85, 47, 1) 0.7px;
  border-radius: 5px;
  cursor: pointer;
}

.search {
  width: 450px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
  outline: none;
  margin-bottom: 20px;
}

.search::-moz-placeholder {
  font-family: "Fira Sans", sans-serif;
}

.search:-ms-input-placeholder {
  font-family: "Fira Sans", sans-serif;
}

.search::placeholder {
  font-family: "Fira Sans", sans-serif;
}

select {
  background: none;
  outline: none;
  border: solid rgb(85, 47, 1) 0.7px;
  border-radius: 5px;
  height: 30px;
}

option {
  background-color: rgb(248, 159, 159);
  border-radius: 5px;
}